## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [4]:
import numpy as np
from scipy import stats 
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [5]:
samples = np.random.normal(100, 15, 1000)
samples

array([131.85404985, 109.59978544,  98.70052877, 127.1005821 ,
       106.68508239, 104.3381121 ,  87.30421952, 113.24168764,
       100.22517811,  96.08030944,  78.79073708,  86.34562313,
       114.03124276,  98.71594343, 108.19721227, 103.29765509,
       108.79107035,  96.34264413,  93.75978142,  98.77605581,
        93.31267333, 100.89001383, 108.17478099, 105.88967564,
       120.14279377,  83.11225249, 129.21520294,  95.84880123,
       105.86950106,  87.3700774 ,  91.81344219, 106.10101198,
        98.61994213, 102.45154812, 120.5971232 , 113.04819591,
       100.46379352, 112.04763161,  90.27094323, 102.21047918,
        94.50175431, 100.20054962,  83.36081393, 108.16247449,
       111.32346193,  92.49810249,  94.59575922,  76.40296957,
        82.94955088, 102.32851224, 109.98593931,  63.00119755,
        86.24298078,  68.80656463,  95.26434364,  98.1982624 ,
        80.11789954,  94.43461291, 121.18722404,  97.22224527,
       106.87413245,  98.64990716,  98.82263756,  80.23633652,
       113.52707392,  84.87936141, 108.97847595, 101.76360405,
        83.34554412, 114.69226781, 123.46030554,  84.57524305,
        79.78889991, 104.06170993,  88.80530286, 123.53818315,
       106.3101669 , 112.13208176,  89.53721774,  88.75707967,
       109.17354878,  88.69404069,  91.3233444 ,  96.63336505,
        98.00707923,  83.69714788,  91.59087491, 124.23787632,
        99.60620279,  83.22655529,  95.9750632 , 110.20885273,
       108.4277897 , 117.41912194, 108.77539258,  93.67290163,
       117.86191591, 101.13735576, 117.90502411,  81.56485578,
       102.32510585, 107.59470102, 111.93027443,  98.3190269 ,
       118.3664674 , 106.05054966,  81.09771063, 107.59507877,
       104.26896416, 147.29772839, 101.62791649,  91.60238596,
       109.98658539,  90.76946095, 130.07587448,  84.72532417,
       108.26421742,  82.21474271, 110.37875219, 102.29028863,
        97.51707222,  94.642149  , 105.8930184 , 123.8996218 ,
       114.21749589,  91.34418785,  87.77173372, 105.75187993,
        96.81118284, 120.00735783,  98.43741012,  64.55141961,
       103.72421206, 102.59692502,  76.27454343,  81.57692238,
       107.949904  , 108.68846232,  95.18334409,  92.46863502,
       105.03521243, 103.67730595,  91.46169919, 133.40872712,
        87.68282414, 102.17355038,  84.22558856, 110.32953254,
       134.05892661, 107.19981005, 100.74908439, 105.40842432,
        77.06414197,  98.95278905, 102.25671514, 102.80072732,
        95.98720536,  97.09845875,  72.40330397, 100.53165504,
       103.79325573,  85.05413481, 109.61990445,  99.03843322,
       132.32636202, 111.32244618, 104.30403092,  77.11513942,
        74.19871259, 107.87143755, 103.45989707,  99.37733825,
       121.31400433, 116.46322256, 103.0159328 ,  91.039732  ,
       118.41726577, 114.18926378,  93.53419546, 100.83537774,
       100.81705426, 104.88246888, 104.96163914,  99.41688342,
        83.24188803, 106.66842794,  80.86553955, 129.80972552,
       103.949833  , 109.78089163, 103.54639815,  82.58009005,
       103.31783704, 117.36714223, 112.81451995,  96.39001194,
        86.98396971, 107.73551537,  87.23710313,  91.0936597 ,
        93.72725343,  89.94981888,  87.17205057,  98.87431943,
       100.46139463, 100.84531949, 108.89808539,  76.02296237,
       105.68846038,  81.80121166, 120.96151615, 109.77984412,
        79.74587847, 114.98935151,  88.57910929, 106.71243534,
       110.63326898, 112.28994639, 112.300523  ,  99.85579766,
       105.67892421, 102.98863349, 104.16918731, 115.98639437,
       102.95659534,  98.40134357,  88.93464531, 128.54632047,
        90.37565124, 114.5242753 ,  92.97213351, 101.32467814,
       105.14033329,  76.88318086, 132.8348379 ,  75.5918629 ,
       103.10898414, 105.03566501,  97.67332533, 110.34561006,
        88.65417041, 100.75387043, 118.54179863,  97.08633395,
        86.38380379,  74.7820224 , 119.57551467,  92.84120429,
       101.6818848 , 100.46137609, 107.06460495, 112.22822572,
       116.7747938 , 107.29407621, 110.57355771,  95.89554892,
       113.03719764, 105.64081369,  86.18029538, 118.42612744,
        92.59413944,  81.88181479,  83.5303597 ,  87.37631392,
       104.50118789, 105.47751005,  97.42617323, 109.22629329,
        91.18172821, 121.97840831, 113.07850652, 106.51538991,
        99.677809  ,  91.35957149,  84.43325434, 101.36468302,
       113.07776458, 104.53568223,  67.91390002,  97.97991208,
        99.97602281, 100.0155614 ,  81.1027025 , 113.91251293,
       114.23964201, 107.66636229, 113.80569664, 116.68232362,
       109.9016708 , 118.95548537,  73.5418094 , 109.32062731,
       124.82850038, 118.32977579,  73.728647  , 106.69635808,
       103.42309599,  92.1711646 , 104.98149394, 104.9269094 ,
        89.3114017 ,  78.84009725, 114.80143877,  86.86872692,
       121.03274738,  94.87417904, 110.13948221, 104.44719194,
        86.76243476, 102.24889282, 129.41587873, 109.4351452 ,
        93.53759511, 103.28606241,  78.96982222,  92.96279368,
        92.17224603, 114.95769452, 117.87072218,  75.0254193 ,
       130.97777892,  96.12553395, 153.35897303,  76.21243299,
        83.84945018,  92.16390751,  91.87110016, 117.18305223,
        95.90277551, 109.89817548,  98.6834714 ,  90.52231392,
        91.90851447, 100.70230309, 113.58165187, 107.9703796 ,
        96.6877934 ,  76.60354384,  95.27326948, 109.54290354,
        93.96855296, 123.14747477, 116.17139943, 102.09145842,
        96.02660872,  94.03199121, 108.13868322,  81.7149357 ,
        88.2154362 , 105.46881931, 120.02234814,  91.69389053,
        74.6423662 ,  91.01302451, 136.51686233, 104.04338147,
        61.7991364 , 104.23469034,  96.63170481,  95.10389427,
        64.93357453,  99.17869944, 122.46506844,  87.11486784,
       118.3071068 , 112.67809525,  88.20554373, 124.15699467,
        47.41640886, 140.54339176, 113.52988384, 116.87574863,
        88.60646284,  86.3833307 , 102.87190323,  91.40122035,
       130.15358794, 113.03270369,  89.8875253 ,  91.95627417,
        77.10282037,  82.41007326,  73.9238165 ,  88.93409516,
       116.91429206, 100.95183273, 102.14244268, 107.70542129,
        85.77695109, 100.37128346,  99.93520778,  88.53857868,
       109.69860772,  94.19096322,  89.71568814,  94.1645157 ,
        92.65636073, 145.62973999,  93.68284184,  86.85598291,
       110.26257122, 102.41425352,  99.77968676, 106.7175403 ,
        97.98700257,  84.04627257, 120.40392028, 129.35200686,
       113.35583202,  99.29598824,  92.18201314, 122.37075022,
        94.3246984 ,  89.17118017, 122.707952  ,  83.98903345,
       123.57480356,  93.32595434, 109.39829259, 106.71784153,
        74.47855919,  97.28388095, 114.8731671 , 113.92597528,
        84.87590067,  92.23794878, 103.89739621,  78.32878945,
        99.0778756 ,  95.11571111, 102.59237789, 104.34075432,
        99.2454628 , 105.99434246, 101.56175378, 117.65850293,
        85.25464307,  91.01532315,  98.30236898,  93.74754719,
        90.30689012,  77.12113994,  84.88194197, 112.97073371,
       121.06229353, 117.51338854, 111.17874448, 133.63211692,
        81.58086606, 109.40883156,  98.86985396, 115.42589253,
        96.39889813, 109.08762147, 103.86527063,  89.8664886 ,
       101.18155825,  91.6942417 , 110.36477531,  87.5920889 ,
       122.99113053,  99.23990425, 103.90236124, 107.55838237,
       115.5480175 , 124.12054184, 101.24415897, 113.78582066,
       104.27305141, 115.21346427, 108.14293938, 107.14510832,
       108.18785514, 121.34509323,  94.0309731 ,  95.36328448,
       111.13137334, 120.92384161, 110.92098982, 108.22710667,
        95.89772664,  80.13587227,  98.4670355 , 116.83063205,
       130.66410657, 130.0556407 , 113.2916798 , 103.78786904,
        87.69481215,  83.11098123,  94.98206251,  92.92252122,
       102.03242256, 115.44563229,  91.15353037,  99.07469877,
       108.31817093, 110.07993477, 132.68892905,  98.44472328,
        93.80047319, 100.28675533, 111.17083248, 121.09300399,
        92.9184189 ,  91.95221702,  99.68858608,  79.24430554,
       111.92412869, 101.06725382,  92.31924206,  89.43263463,
        81.4672766 ,  84.99256806,  77.16442126, 100.68881776,
        91.8666986 ,  89.3896316 ,  90.25696855,  99.50345103,
        90.46693147,  89.22609639, 103.16615619, 104.33979119,
        98.5433601 ,  94.62574274,  94.88150338,  81.57993122,
       131.94365361,  85.8781441 , 101.52917408, 112.41491234,
       103.67087778, 105.92512011, 105.04803856,  95.85532098,
       111.478669  , 105.49817015,  88.54455982,  75.49274817,
        97.15960312, 109.84688362, 107.44500754, 104.23903852,
       151.10917359,  99.01192756, 103.05541258,  74.81458387,
        90.88848422, 119.27162636, 105.06824926, 105.05232583,
        89.47886765, 106.14542754,  93.04842645, 100.23525255,
       104.67396645, 106.85367521,  85.97423249,  96.12360736,
        91.39281426, 109.01107367, 106.97266251,  94.75078843,
        63.17875181, 100.33148625, 112.69548683,  94.34979761,
       106.69111691, 114.76584572, 113.18872076, 114.79018355,
        85.48470785,  74.43671416,  98.15089046,  87.2890818 ,
       116.83234122,  85.76903819,  82.77835795, 119.58727091,
       114.87079856,  76.98399234,  78.46055429,  78.59521295,
       107.1432963 , 106.87737141, 100.77147429,  92.40254584,
       104.92963495, 114.51862695, 100.55680954,  84.15912535,
        95.76483192, 130.67214535,  89.81315816, 107.33802591,
        95.21679009,  71.01079918,  99.6395787 ,  88.86319977,
        68.45229669,  82.73173375,  99.64153008,  82.95305341,
       105.49728654, 102.95201327,  68.26366295, 113.8663469 ,
       103.32723735, 100.50832284, 110.61724352, 103.72846451,
       113.59991134, 133.37572261, 108.39193824,  86.78926642,
        93.42372937,  90.68852549,  75.7966233 , 104.50039221,
        79.01097525,  96.26891971, 126.75787218,  87.3694332 ,
        91.50999713, 122.93721181,  89.92734364,  90.94027428,
       100.65825141, 102.83438547, 123.45710733, 118.05941612,
       102.72520071, 118.0469118 , 105.61368503, 100.40576192,
       108.97505993,  93.14776116, 119.32728582,  98.0987173 ,
        79.35986265,  97.08989304,  81.35700862,  81.96432038,
       109.08994293,  69.72522713, 100.43125043, 101.74034201,
        97.39798904,  96.50756399,  77.60656646,  67.53161029,
        86.98770851,  81.17427087, 107.47431861,  99.0829811 ,
       104.12397617,  86.08517465,  78.86081812, 127.50409578,
       106.24418497, 112.63231358,  96.66081934, 118.37468014,
       123.11541297,  99.79364154,  95.79695885,  86.33575864,
       110.22983251, 103.5541677 , 105.73517465, 117.81725127,
       119.01081269, 100.6326946 , 101.79025836,  83.77396274,
        88.24781603, 103.35434599,  93.42485248, 105.16515593,
        60.82414523, 120.57746656,  90.91369305, 107.01133365,
       112.91714643,  99.09845118,  98.22449996,  98.8672713 ,
        99.27716148, 108.47326417, 105.7569732 , 112.29396032,
       117.8582843 , 124.24059652,  80.05987073,  86.69722912,
        85.46821918,  90.14757143,  81.71634364,  79.55218818,
       101.35664026,  98.21161759,  71.11811463, 105.48619078,
        96.14866473,  85.60727771,  87.92286761,  98.74947232,
        93.23027237, 103.52878394,  98.34304913, 105.67147435,
        85.08777664, 100.24273038, 103.84760651, 123.37430769,
       129.14261505,  84.02116167,  75.77138614,  99.7032065 ,
       112.39194427, 102.97037763, 105.976556  , 106.11970971,
        91.06106763, 102.90334611,  85.23043522, 116.26414638,
        99.70862339,  84.24754022,  78.99012054,  90.69868938,
        92.43006652, 110.20491872, 106.67106243, 102.36652883,
       131.61158318,  82.77124178,  98.2430243 ,  97.12766679,
       103.09339065,  71.19261247,  71.82816941, 111.59389583,
       120.52448813, 111.29708891, 103.90417872, 111.56027357,
        83.84042463, 113.80022713, 108.32976022,  86.57367414,
       108.99091743,  85.8401866 , 101.40408549,  88.4275639 ,
        98.56195479,  92.07000554,  82.53110817,  95.45021781,
        65.61537923,  60.86492838, 106.68470159,  97.48101375,
       132.44001283,  67.19520496,  80.31017792,  88.91680375,
        93.50088026,  81.48327726,  86.23284864, 102.78160695,
        94.56478814, 114.10617209, 100.45294952, 108.51038892,
       119.73957418,  87.87436669, 107.90701276, 103.71597827,
       108.1025033 , 122.79215042, 116.46181896,  80.88530578,
       130.27573999, 129.20822147, 114.14411725, 128.0000476 ,
       110.17507112,  84.62681122, 101.23188104,  89.15258797,
       132.57954679, 112.76718182, 109.50590028,  83.89690069,
        85.20960347, 110.20914152,  83.5941638 ,  83.3755967 ,
       108.04754597, 106.09118717,  88.53327392,  97.33973676,
       112.81139349,  85.75554584, 112.71272842,  86.02030296,
       126.10165029,  91.76228294, 101.31994158, 109.22638193,
       109.9421695 , 107.02225978,  65.47447546,  81.21409066,
       101.85832177, 131.37614774,  79.98487507,  98.0639622 ,
        99.43386525,  99.24974474, 117.41618552, 108.86595839,
        82.44902003,  82.65863321,  87.9986573 , 140.27942596,
        96.30269126,  90.04980338, 111.45757914, 120.01966388,
       104.56242423,  93.64367353, 127.09526206, 119.70332083,
       111.334359  ,  95.61695699,  63.2303403 ,  85.88446012,
       109.01327936,  87.12520796, 107.58284352, 118.6062114 ,
       108.05393915,  99.60833649, 104.57195525, 120.69948081,
        92.71145825,  94.1991674 , 102.04909267, 114.35725891,
        86.56979064,  87.56130847, 119.11264484, 104.7861912 ,
        85.62199435, 108.92921132, 104.82159678, 115.9542864 ,
       111.63488818,  91.4258684 ,  90.99020821,  69.45339033,
       123.59188018,  76.93347039,  87.4021503 ,  71.34776289,
        64.38518818, 105.72219905, 112.64802621,  91.16333739,
       103.74953942,  82.09127979,  80.69608905, 106.71395279,
       122.10706913,  98.04210151,  99.17983594,  97.23109683,
        72.39616525, 110.38391704,  94.90679365, 101.93644039,
       119.90358645,  85.63158454, 111.21354968,  94.50949313,
        99.35696306, 138.72685661,  97.29491557, 110.6380956 ,
       106.24067933,  90.74307508, 116.26196975, 115.74577088,
       101.59414634, 111.44411953,  97.38221084,  71.52421253,
        95.21506893, 120.52281471, 111.26232473,  63.00431564,
       111.71664694, 110.50709335, 103.01770334,  85.26735638,
        97.661757  , 105.06396644,  96.55421964,  90.55383834,
       107.97976666, 106.42250478,  88.33666146,  99.74203433,
        80.31435688, 112.92240384, 109.33105265,  96.80338458,
        75.86885082,  77.5299097 ,  89.27141764,  67.09795608,
       111.60618746, 113.77027824,  80.82709202, 134.55297171,
        87.83388112, 101.21630055,  86.1796181 , 113.81414172,
       114.95780146,  63.46493532, 135.1628521 ,  95.30214444,
        96.09643884, 128.58247428,  87.11444898, 113.30109762,
       119.68726719,  96.76610365, 102.63655919,  78.29937375,
       133.84213932, 108.99804314, 113.12366733, 119.61121856,
        90.07309367,  91.68923378, 113.67492783, 116.80023811,
        82.0699385 ,  84.97494303, 111.56644914,  83.78839136,
       113.39033538,  88.11443724,  82.75326726, 119.91289063,
       110.94179439,  79.9505543 , 117.96324851, 116.4982746 ,
       105.13793205, 115.30738894, 117.41673102,  75.64128641,
        68.38256472, 103.45058237, 103.1565108 ,  96.8489525 ,
       111.71136302, 128.57518146, 102.15268491,  87.58135714,
        75.66567017,  86.45935742,  97.5644538 , 105.38410179,
        97.1106264 , 116.04113127,  82.30258156, 108.500414  ,
       112.22096127, 111.75450208,  88.01056106,  83.51645669,
       121.05286165, 101.37867749, 129.89138413,  93.90411327,
        90.7665308 , 121.91515518,  78.04328701,  98.86844678,
        78.61184116, 132.34685824, 109.26367877,  98.1815927 ])

Compute the **mean**, **median**, and **mode**

In [4]:
mean = np.mean(samples)
median = np.median(samples)
mode = stats.mode(samples)

print(mean)
print(median)
print(mode)

100.21604236075771
100.45506196444086
ModeResult(mode=array([56.53368999]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [6]:
min = np.min(samples)
max = np.max(samples)
q1 = np.percentile(samples, 25)
q3 = np.percentile(samples, 75)
iqr1 = q3 -q1
iqr2 = stats.iqr(samples)

print(min)
print(max)
print(q1)
print(q3)
print(iqr1)
print(iqr2)

56.53368999241994
152.74854074641433
91.27524839962855
109.61077363860036
18.33552523897181
18.33552523897181

Compute the **variance** and **standard deviation**

In [7]:
variance = np.var(samples)
std_dev = np.std(samples)

print(variance)
print(std_dev)

202.44843099168654
14.228437405129439

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [6]:
import scipy
from scipy.stats import kurtosis, skew
from scipy import stats

In [7]:
skewness = scipy.stats.skew(samples)
skewness1 = skew(samples)
kurtosis = scipy.stats.kurtosis(samples)
kurtosis1 = kurtosis(samples)
print(kurtosis)
print(kurtosis1)
print(skewness)
print(skewness1)

TypeError: 'float' object is not callable

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [8]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [11]:
y = np.array([0,1,2,34,-24,5,324,7,-3,9])
y

array([  0,   1,   2,  34, -24,   5, 324,   7,  -3,   9])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [12]:
r = np.corrcoef(x, y)
print(r)

[[1.         0.17516223]
 [0.17516223 1.        ]]

## Pandas Correlation Calculation

Run the code below

In [14]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
print(x)
print(y)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0     2
1     1
2     4
3     5
4     8
5    12
6    18
7    25
8    96
9    48
dtype: int64

Call the relevant method  to calculate Pearson's r correlation.

In [15]:
r = stats.pearsonr(x,y)
print(r)

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [16]:
rho = stats.spearmanr(x,y)
print(rho)

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [17]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [ ]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [ ]:
a = tips.corr()
print(a)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [21]:
a = np.arange(6).reshape(3, 2)
b = np.arange(6, 15).reshape(3, 3)
print(a)
print(b)

# vertical stacking (row wise)
#np.vstack((a, b))
# horizontal stacking (column wise)
np.hstack((a, b))

[[0 1]
 [2 3]
 [4 5]]
[[ 6  7  8]
 [ 9 10 11]
 [12 13 14]]

array([[ 0,  1,  6,  7,  8],
       [ 2,  3,  9, 10, 11],
       [ 4,  5, 12, 13, 14]])

In [2]:
for _ in input():
    print(_)

a
l
o