## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [2]:
import numpy as np
from scipy import stats 
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [3]:
samples = np.random.normal(100, 15, 1000)
samples

array([ 79.57675861, 110.35235407, 107.84188207,  97.44732528,
       103.02565983,  96.93167203,  88.40106363, 108.71165136,
        82.93517936,  70.46012639, 123.69823964, 100.06769575,
        74.78585694,  83.49983726,  68.17852006, 108.87844467,
       109.67159704,  77.01183514,  67.2413366 ,  97.8470723 ,
       128.00326469,  89.84446525,  84.57265211, 102.1928684 ,
        91.86526898, 107.49121455,  75.86783676,  98.23998387,
        82.00821937,  85.17024006,  91.59582895, 117.62863654,
       109.0323554 , 118.89592417,  93.06770855,  91.3992808 ,
       106.37000325, 113.57860071,  91.61713743,  85.52613846,
       131.97372612,  99.20929386, 116.78399174, 108.70705689,
       107.38926428, 117.01854479,  95.65160551, 106.37856286,
        96.06893851,  88.74965514,  77.08296388, 101.63013165,
       101.37284612,  97.37482893,  80.21498908,  98.2976706 ,
       103.81331244,  94.56547986,  86.24060713, 103.50214252,
       111.03478244,  72.9906826 ,  82.62549839, 114.17088355,
        93.37145604,  93.40523886,  72.08458937, 103.60895625,
       124.64254641, 110.99791777, 102.65640372, 112.21877042,
       127.51844643,  95.64146638,  77.82939784, 135.8814815 ,
        98.46821414,  93.59415355,  90.73710965,  96.09424356,
       114.58091236, 110.53649952,  81.95668266, 123.1686391 ,
       129.531015  ,  89.84069585,  99.11416302,  99.68002795,
        83.25717235, 113.33975979, 114.27601351,  93.35431844,
       128.71953763,  96.67503193,  99.47590679, 106.11281137,
       118.73299978, 118.17159648,  86.48925323, 110.23248771,
       112.18318433, 108.53521619,  92.3823398 , 116.5345466 ,
        91.29800743, 121.40073428, 103.42338247,  91.70390646,
        90.19533419, 122.2728582 , 100.0118552 , 110.95606582,
       104.56739223, 120.22951486,  96.3542546 , 101.28132225,
        94.8940902 , 103.17759926, 112.82835022, 108.48213832,
       113.00242131, 123.1742294 ,  76.16515677, 117.44016943,
       105.09892437, 107.06310112,  82.02639314,  72.76183042,
       101.9589004 ,  88.39716595,  91.36385494, 117.76237292,
       106.45553509,  97.70758072,  91.76186223,  85.0519537 ,
       116.30194211,  98.80843338,  97.28747534,  93.93683064,
       118.55815136, 135.61771599,  91.2932694 ,  66.84650527,
       122.99597831, 101.96651698,  95.04382399, 111.148301  ,
       111.34233983,  77.835897  , 104.41166054, 108.26307099,
        90.40065274,  93.26549737,  88.96095049, 103.68098922,
       100.09637516,  92.4086096 ,  85.99785483, 109.80811361,
       107.75589946, 105.32707121,  98.59131856, 113.69515729,
        95.17894095, 110.12307351,  98.64765806, 102.25669834,
       110.01784852, 117.6467806 , 105.25201258,  92.00541581,
        88.70447967,  48.07241972,  96.81475026, 109.81048652,
        95.06569152, 101.03287518,  92.17756932, 134.6344092 ,
       113.71330621, 103.15674413,  95.6025135 ,  93.09147966,
        84.58531916, 119.12578431,  92.93524338,  98.53202347,
       107.93392109, 107.18494598,  96.73917526,  81.61107718,
       111.49929543, 108.7818969 , 105.26087367, 115.09098509,
       115.66281308, 115.30994581, 109.11440918,  68.35161627,
       120.83840991,  80.44197677, 111.86399561,  93.67014109,
       107.56912279,  98.14840967, 103.97901232,  79.55463064,
        90.75923654,  66.74940688, 121.80414094,  88.36645359,
        87.30368336, 102.90569674,  92.60025267, 113.00326242,
       125.7447897 , 114.10477191,  82.18088466, 105.20660772,
       112.09576267, 105.24853846,  95.27556932,  95.07115196,
       103.08838804,  85.45829921,  96.35817524, 105.52617148,
       110.26561136,  96.70879614,  87.03098321, 111.39315002,
       102.46672547, 104.1693055 ,  94.08400442,  97.28041845,
        83.59089193,  85.2137922 ,  91.96140178, 121.35393178,
       134.67952045, 118.16673932,  59.48937125,  91.76484054,
       112.25429737,  87.39186738, 107.04194585, 118.20211728,
        98.90870965,  82.91819637,  83.98520923,  97.2444222 ,
       103.04248213, 136.72322913, 103.52781427,  99.18766712,
        98.70845371,  92.96517704, 148.91119637, 102.83752665,
        87.94809661,  94.94929424,  89.74212088, 105.79573608,
        91.07101168,  98.92987872, 110.075996  ,  73.11492833,
       153.14960912,  95.92722876, 102.33324209, 110.36451324,
        84.4025094 , 113.49322674, 125.78151066, 103.04695254,
        77.43495335,  84.47226562, 107.07542123,  88.98787038,
       110.08353875,  92.54567949, 103.05160464,  89.82162721,
       109.15093349,  68.38518289, 103.19829022, 125.62422096,
       114.92668121,  99.54103455, 118.59422396, 100.8909516 ,
        94.5366245 ,  90.33987324,  95.89497925,  92.55081922,
       105.50432304,  77.79061306, 109.00779001,  86.22204612,
       106.43404908, 102.94784996,  76.99805999, 104.29213407,
        88.63549049,  63.12507856, 110.25163184, 112.64006194,
        91.61100467,  90.10717097, 110.41672535, 109.01192047,
       110.47197068, 104.4874876 , 111.67963989, 104.21146592,
        91.9228642 ,  76.03966097, 121.35676106,  94.29205745,
        85.31954801,  92.00452204,  98.52308908,  77.57152872,
        93.52738882,  79.01316356, 107.58774509,  89.31832115,
       106.37998355, 114.13464031, 106.09558898, 116.94708476,
       120.74684137, 105.36054348,  86.87635583, 100.24603965,
       100.72700915,  90.24916341, 108.95380837,  98.41364925,
        91.75205892, 105.08271703, 110.52032082, 120.61792621,
       106.29665275,  89.93380487,  85.01545937, 113.50385891,
       108.97016916, 123.56188104,  78.78026695, 106.01005927,
       101.09571277,  80.57388248,  74.25299864, 119.59748768,
       122.03336204,  99.73919183,  91.77411423, 106.8064699 ,
       123.34221232,  97.90831331, 109.09786583, 100.89962581,
        89.24752264, 106.32761067, 111.72087568,  65.13603589,
       102.64432746, 106.81381671,  92.26389917, 118.62267565,
       113.58827473,  80.14425656,  98.5971263 ,  96.39343347,
        56.50349271, 102.01270369,  93.47796629,  99.03271162,
        92.76190311, 106.72806334,  99.08242822,  87.93049272,
       104.01566259, 116.07611317, 129.92237428, 123.73918745,
       102.81203197, 114.37397886,  83.6886659 ,  79.33548412,
       104.33164301,  86.64564286,  87.1184216 ,  91.39982745,
        96.06099941,  94.04562763,  92.7077221 , 109.88295666,
        98.22618169,  97.25777843,  97.8824572 , 123.79090482,
        88.54740226, 104.99325447,  86.94208118, 105.99243434,
       131.21033229, 102.61095816,  87.44712229,  86.98322763,
       137.12168616,  88.04458722, 117.154151  , 120.61001334,
        93.29636864,  88.89380153,  85.95866453,  84.4704016 ,
        92.11464149,  84.00405243, 108.58284321, 101.75951553,
        92.85998135,  99.19624075, 110.05219968, 111.79533683,
       122.52088661, 113.32928904,  97.6452524 ,  88.68848589,
        91.36888444,  97.33842979, 111.42706485, 116.76875261,
       108.48466894,  90.88076108, 120.2997872 ,  99.02622484,
       102.48403372,  96.79145868,  91.70061145, 120.85773828,
        89.16620522,  80.30796053,  92.61626989, 105.5332118 ,
       124.39620695, 129.19628159,  96.07897469,  97.59179209,
        62.41340681, 110.47026861,  93.18895889,  92.16184836,
        95.60303895, 116.03661907, 102.85256135,  79.6205259 ,
        89.46578862, 106.32818948, 104.55366599, 112.36483259,
       102.81029061, 105.34299806,  92.84432511,  75.11736345,
        94.03195952, 105.73114315, 105.51570128,  99.68187935,
       107.41447679, 124.03063151, 111.89682604, 108.9537209 ,
        87.39425615,  82.40149324,  80.5645277 , 120.09472655,
       104.70732888, 123.54749479, 104.21690362,  92.3867505 ,
       114.69225772, 102.68961246,  90.89631097, 120.45161364,
        98.88408287,  93.68997377, 131.49026743,  85.97227917,
       120.93698406, 114.75567599,  71.95750123,  70.49628161,
        80.21669229, 116.88306333,  93.14335398,  92.58002327,
       110.99554469,  96.25786172, 109.74875289, 104.77705067,
       107.81998786, 108.49239625,  95.50016541, 124.03541328,
        96.21267642, 111.03152779, 103.77546739,  93.32113357,
       104.29427518,  95.6913094 , 117.258987  ,  97.78664509,
        95.85579893,  93.51841657, 102.57822034,  80.1291889 ,
       121.83911808, 106.53339496,  88.79251886,  91.49592516,
        96.81436744, 121.91224023,  93.82449523, 121.75286054,
        83.10101407,  80.76021535,  88.53528048,  99.22588246,
        79.40806893,  91.40679814,  84.32785845, 102.84185476,
        87.00011125,  79.52004876, 135.0100819 , 107.3348296 ,
        92.56773883,  93.00332638,  98.72659401,  88.17866255,
        96.22451756, 105.58920026, 126.19993759,  89.74194204,
        84.06145605,  82.64890141, 102.51959629, 112.50725136,
       103.58675837,  83.8848964 ,  96.31604518, 109.87249699,
       111.20973157, 116.32542716,  61.83883212, 111.94907189,
       131.8667192 ,  91.62490982, 135.02458909,  90.76721106,
       102.60100265,  92.03692236, 105.17829119,  86.47548567,
        85.441004  ,  91.00700078,  97.0305596 , 118.16859274,
        62.6833797 ,  97.07265894,  78.52569636,  95.18774328,
       107.09446696, 118.38310903, 111.6787262 ,  77.02457322,
        96.55520968, 109.36917575, 125.06715058, 138.75594251,
        87.89443229, 107.28387061,  89.21325513,  93.0013285 ,
       110.78738342, 110.53815431, 104.13732714,  94.20728444,
       108.09242673,  90.88513647,  79.36323599, 111.06801532,
        75.91813336,  94.12197293, 127.10965511,  70.78284327,
        95.86557846,  88.56831305,  93.01694086,  98.49497981,
        88.07814794, 105.7751459 ,  87.38162973,  80.84613328,
        78.70549425, 105.99800752, 105.92671023, 116.25650103,
        95.54473135,  85.29264466,  98.42935491, 111.17060809,
       103.81614305,  77.34204932, 119.75142027, 110.25524051,
       120.87449618, 112.55682312, 116.50540202,  90.36423134,
        81.56043923, 103.51930357, 123.62457605, 104.42722626,
       112.03565907,  98.18631289,  68.58542497,  92.93544773,
       110.45788946,  92.21910714,  94.41830528,  67.48629857,
       107.26386753,  99.03193706,  97.32541054, 106.25483993,
       107.36511069, 103.15407172,  72.47783411, 103.05343342,
       105.63537031, 108.13440998, 102.7994978 , 128.35514058,
       110.8743206 ,  87.08483901, 105.53282291, 111.84475124,
        98.63401633, 107.2846653 ,  74.56123943, 132.30397677,
       105.18464319,  82.00800902, 107.18610039, 101.39449193,
        83.18948696,  92.22825451,  98.67566062,  99.62550355,
       104.05525941, 106.7221316 , 121.95605022, 106.42401239,
       116.15415229, 104.85019646,  95.81152309,  79.14936374,
        87.74141037,  89.11947378, 126.10770585,  86.15218497,
       112.59267046,  75.08809524,  81.34976325,  98.10012104,
        86.67289331, 151.57427236, 117.92049919, 108.50898089,
        96.31885103,  74.41084384,  84.64228117,  94.22424701,
        79.16829798, 104.04188567, 128.27176609, 111.94473152,
        83.0157854 ,  85.98521758,  91.59405536, 116.88249442,
       117.43033741,  93.88458441,  97.68875469, 131.367646  ,
        95.20659596, 102.31927713,  99.26409996,  81.81540596,
       107.36219659,  67.16722171,  86.7094739 , 120.91113221,
        63.12131959, 107.80028262, 105.93952068, 102.97155602,
        75.52472851, 106.63698816,  89.2224975 , 110.56513214,
       111.5583532 ,  92.76676445,  89.7904826 , 136.31338379,
        87.4109335 ,  99.15833425,  80.04488306, 115.03943793,
       125.28645315, 113.06709183,  86.05742375, 111.43277878,
       112.41880366,  88.34004066,  79.95484587,  89.93773136,
        85.56643376, 116.0960221 , 104.55250482, 104.12339573,
        95.12948311,  92.90995018, 110.60652782,  97.57657218,
       100.4375167 ,  86.54527631, 114.90471522,  71.53158109,
        97.13951752,  76.88707232,  83.67793833,  91.18792612,
       124.13671566, 139.63347927, 101.29507664,  99.46868146,
        97.15218843, 124.06365015,  68.92039149,  90.92410318,
       111.85088776, 117.42086727, 100.64501071,  98.11943364,
       111.79355063,  98.45860814,  97.34884105,  88.57666091,
       104.84432119, 108.65726903, 112.68407806,  98.98247764,
       113.41432793,  81.03988981, 117.24400127, 103.81407424,
       109.29622912, 109.91976259,  87.04035576,  96.97575346,
        63.78863371, 100.12776225, 104.11941361,  99.70393674,
        59.61437442,  93.33872545, 106.82338378, 106.63851715,
       105.22199187, 124.62271498,  89.75599976, 105.37084066,
        93.08421982, 119.23025085,  92.72886621,  87.44110538,
       104.57301847,  82.93301307, 107.83443616, 109.26297292,
        91.74259772, 107.99751061,  92.64601946,  81.00931233,
        97.54876191,  88.69994264,  93.17716416,  98.63690807,
        73.29248558,  90.73472827, 129.61245969, 100.35963976,
       103.44559797, 101.25081409, 104.37284734,  95.3131186 ,
       125.78855283, 103.82101092, 143.67622425,  99.74915933,
       108.46005145,  77.17261927, 112.18305271,  87.24801137,
        97.90273455,  87.37120733, 102.53991304, 111.58853884,
        94.55384092, 100.69637989, 102.67968779,  75.9717049 ,
       121.8665911 , 105.9254397 , 118.88064292, 119.98505296,
        85.49243795, 125.32846943, 104.54499358, 102.98692347,
       105.41251377, 120.88690229, 110.40528314, 105.08533534,
       104.5159437 ,  60.04672384, 102.39411971,  98.33205874,
        98.31628084,  97.41279885, 127.22120223,  91.59483975,
       101.16134097, 109.81308146, 103.9101237 , 103.69308406,
       106.84038879,  92.69098549, 100.42644537, 121.44154815,
        98.61881087, 109.11384888,  86.55758193,  99.34619783,
        87.09523642, 104.93477836,  93.02343634,  92.40839411,
       104.42534799, 116.23156921,  96.09000919,  97.14691663,
       107.91718253, 103.83818186, 108.16882597,  93.35638334,
        96.88823864, 108.88812776,  99.34346905,  98.2600426 ,
       118.76027406, 126.39902209,  81.81391013, 119.01999276,
        97.97082676, 111.49934616,  84.78665593, 101.8722968 ,
       108.39146538,  83.36290077, 106.38021369, 115.86855142,
       134.6824439 ,  95.649065  , 123.0953501 ,  97.40414231,
        94.86636976, 122.78387743,  86.80208121, 121.51275484,
        83.83420463, 124.74037762,  97.20717666, 116.49013667,
        97.89406678,  95.56914361,  93.8100297 ,  76.50224293,
        89.94208799,  91.87456153, 108.35450691,  91.52985177,
       111.47655975, 115.8658341 ,  74.72011947, 119.59982108,
       101.97306977,  84.85294244, 123.24583424, 118.99535626,
        79.44148665, 115.90880788, 106.24593781,  91.45785622,
       127.27553635, 110.21574181,  80.81711244, 102.70016009,
       114.86332472, 127.64745945, 114.74351576,  62.80139094,
        85.47622717,  88.28207591,  68.9161349 , 105.08591645,
       104.02025496,  87.42930145, 119.18914508,  95.04589665,
        77.23611818,  95.01544934, 107.47426585,  86.39326671,
        90.71839469,  93.16176229, 133.49784519,  96.68391186,
        77.89712668,  96.02407898,  89.78099418,  86.62301742,
        92.01817613, 109.54739699, 111.17525416,  89.98487657,
        84.78440557, 101.45827284,  84.14223363,  98.39760142,
        76.14495605, 103.20180032, 104.52600253, 111.65845996,
       129.651547  ,  97.92693088, 129.83877888,  79.74263114,
        86.0704883 ,  84.10338039,  68.5281502 ,  90.50779534,
       111.64124344,  85.87012697,  85.99778911,  81.3006111 ,
       103.80925909,  92.50914244,  92.37327149, 119.67822553,
       128.83229705, 123.09145561,  95.15274504, 123.06639194,
       109.92950645, 113.34865486, 111.82005544, 105.89100874,
        85.7281751 , 106.85258198, 114.61833521,  71.50890153,
        94.87773645,  80.68296038,  93.02526315,  99.79266128,
       108.96558475,  92.55290808,  98.00692296, 113.58101492,
       100.2959273 , 108.27526328, 105.85803955,  88.24065565])

Compute the **mean**, **median**, and **mode**

In [4]:
mean = np.mean(samples)
median = np.median(samples)
mode = stats.mode(samples)

print(mean)
print(median)
print(mode)

100.34048920719809
99.74417558129059
ModeResult(mode=array([48.07241972]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [5]:
min = np.min(samples)
max = np.max(samples)
q1 = np.percentile(samples, 25)
q3 = np.percentile(samples, 75)
iqr1 = q3 -q1
iqr2 = stats.iqr(samples)

print(min)
print(max)
print(q1)
print(q3)
print(iqr1)
print(iqr2)

48.072419721618054
153.1496091176068
90.85237357233524
110.07788168972024
19.225508117385004
19.225508117385004

Compute the **variance** and **standard deviation**

In [6]:
variance = np.var(samples)
std_dev = np.std(samples)

print(variance)
print(std_dev)

224.06181610057357
14.968694535615775

Compute the **skewness** and **kurtosis**

You can use [`scipy.stats.skew`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.skew.html) and [`scipy.stats.kurtosis`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kurtosis.html)

In [7]:
import scipy
from scipy.stats import kurtosis, skew
from scipy import stats

In [8]:
skewness = scipy.stats.skew(samples)
kurtosis = scipy.stats.kurtosis(samples)

print(kurtosis)
print(skewness)

0.24230463293541415
0.03798986681121944

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [9]:
x = np.arange(10,20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [10]:
y = np.array([0,1,2,34,-24,5,324,7,-3,9])
y

array([  0,   1,   2,  34, -24,   5, 324,   7,  -3,   9])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [11]:
r = np.corrcoef(x, y)
print(r)

[[1.         0.17516223]
 [0.17516223 1.        ]]

## Pandas Correlation Calculation

Run the code below

In [12]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
print(x)
print(y)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0     2
1     1
2     4
3     5
4     8
5    12
6    18
7    25
8    96
9    48
dtype: int64

Call the relevant method  to calculate Pearson's r correlation.

In [13]:
r = stats.pearsonr(x,y)
print(r)

(0.758640289091187, 0.010964341301680813)

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [14]:
rho = stats.spearmanr(x,y)
print(rho)

SpearmanrResult(correlation=0.9757575757575757, pvalue=1.4675461874042197e-06)

## Seaborn Dataset Tips

Import Seaborn Library

In [15]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [16]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [17]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [18]:
a = tips.corr()
print(a)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [19]:
a = np.arange(6).reshape(3, 2)
b = np.arange(6, 15).reshape(3, 3)
print(a)
print(b)

# vertical stacking (row wise)
#np.vstack((a, b))
# horizontal stacking (column wise)
np.hstack((a, b))

[[0 1]
 [2 3]
 [4 5]]
[[ 6  7  8]
 [ 9 10 11]
 [12 13 14]]

array([[ 0,  1,  6,  7,  8],
       [ 2,  3,  9, 10, 11],
       [ 4,  5, 12, 13, 14]])